.main
    height: 774px
    background: #004980
    display: flex
    justify-content: center
    align-items: center

.complexity
    color: C2F5FF
    width: 480px
    height: 459px
    background: #C2F5FF
    border-radius: 12px
    display: flex
    flex-direction: column
    align-items: center
    &_text
        width: 208px
        left: 408px
        font-family: 'StratosSkyeng'
        font-style: normal
        font-weight: 400
        font-size: 40px
        line-height: 48px
        text-align: center
        font-feature-settings: 'pnum' on, 'lnum' on
        color: #004980

    &_button
        width: 246px
        height: 50px
        background: #7AC100
        border-radius: 12px
        color: #fff

.complexity_choice_area
    display: flex
    gap: 24px
    padding-bottom: 67px

    &:not(:checked) > div
        font-family: 'StratosSkyeng'
        font-style: normal
        font-weight: 400
        font-size: 64px
        line-height: 72px
        color: #0080C1
        background: #FFFFFF
        border-radius: 12px
        width: 98px
        height: 98px
        display: flex
        align-items: center
        text-align: center
        justify-content: center
        cursor: pointer

    &:not(:checked) > div:hover
        color: #7AC100
        text-shadow: 1px 1px #7AC100
    &:not(:checked) > div:checked

        background: #7AC100
        text-shadow: 1px 1px #7AC100
.complexity_choice_button
