@charset "UTF-8";
.main {
  height: 774px;
  background: #004980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.complexity {
  color: C2F5FF;
  width: 480px;
  height: 459px;
  background: #C2F5FF;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.complexity_text {
  width: 208px;
  left: 408px;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004980;
}

.complexity_button {
  width: 246px;
  height: 50px;
  background: #7AC100;
  border-radius: 12px;
  color: #fff;
}

.complexity_choice_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-bottom: 67px;
}

.complexity_choice_area:not(:checked) > div {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #0080C1;
  background: #FFFFFF;
  border-radius: 12px;
  width: 98px;
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.complexity_choice_area:not(:checked) > div:hover {
  color: #7AC100;
  text-shadow: 1px 1px #7AC100;
}

.complexity_choice_area:not(:checked) > div:checked {
  background: #7AC100;
  text-shadow: 1px 1px #7AC100;
}

.startGame {
  width: 1024px;
  height: 774px;
  background: #004980;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px;
}

.head_button {
  width: 246px;
  height: 50px;
  background: #7AC100;
  border-radius: 12px;
  color: #fff;
}

.head_timer {
  font-family: 'StratosSkyeng';
  width: 155px;
  height: 91px;
  left: 22px;
  top: 22px;
  color: #FFFFFF;
}

.head_timer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head_timer_type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  padding-left: 44px;
}

.head_timer_counter {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}

.deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px;
}

.deck_cards_shirt {
  width: 95px;
  height: 133px;
  background: #E4FBFF;
  border-radius: 4px;
}

.overlay {
  background-color: rgba(1, 0, 0, 0.77);
  right: 0;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 11;
  /*Появление модального окошка с верхнего края экрана*/
}

.overlay:target + .popUpScreen {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 17%;
}

.popUpScreen {
  position: absolute;
  width: 480px;
  height: 459px;
  left: 272px;
  top: 158px;
  background: #C2F5FF;
  border-radius: 12px;
  -webkit-box-shadow: 0 13px 21px rgba(0, 1, 0, 0.19), 0 21px 63px rgba(0, 1, 0, 0.31);
          box-shadow: 0 13px 21px rgba(0, 1, 0, 0.19), 0 21px 63px rgba(0, 1, 0, 0.31);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popUpScreen_result {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #004980;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.popUpScreen_img_lost {
  left: 0.4%;
  right: 0%;
  top: 0%;
  bottom: 0.4%;
  padding-top: 9px;
}

.popUpScreen_time {
  padding-top: 28px;
}

.popUpScreen_time_counter {
  padding-top: 10px;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  padding-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */